@import './styles/variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

@font-face {
  font-family: 'Outage';
  src: url('./assets/fonts/outage-webfont.woff2') format('woff2'),
    url('./assets/fonts/outage-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #e8e6e9;
  color: $mediumGray;
  font-family: 'Roboto Mono', monospace;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: $darkGray;
}
