@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

@font-face {
  font-family: 'Outage';
  src: url('./assets/fonts/outage-webfont.woff2') format('woff2'),
    url('./assets/fonts/outage-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #e8e6e9;
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-top: 0;
}

.header {
  background-image: url(./assets/imgs/rostyslav-zagornov-92gooayayc4.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  padding: 20px;
  position: relative;
  text-align: center;

  .app-logo {
    width: 200px;
  }

  .image-attribution {
    bottom: 20px;
    color: #fe5a6d;
    font-size: 13px;
    font-style: italic;
    position: absolute;
    right: 20px;

    a {
      color: #fe5a6d;
    }
  }
}

.search-and-filter-forms {
  background-color: white;
  display: flex;
}

.search-form {
  flex-grow: 1;
  padding: 20px;

  &-input {
    background-image: url(./assets/icons/search.svg);
    background-position: 10px center;
    background-repeat: no-repeat;
    background-size: 12%;
    border-radius: 30px;
    border: 1px solid #d8dde2;
    display: inline-block;
    font-size: 13px;
    padding: 12px;
    padding-left: 45px;
    width: 225px;
  }
}

.filter-form {
  display: flex;
  flex-grow: 3;
  padding: 20px;

  &-fieldset {
    flex-grow: 1;
    border: none;
    margin: 0;
    padding: 0;
  }

  &-heading,
  &-input-wrapper {
    display: inline-flex;
    margin-right: 5px;
  }

  &-heading {
    font-size: 13px;
    margin-right: 10px;
  }

  // &-input-wrapper {}

  &-input {
    display: none;
  }

  &-label {
    background-color: white;
    border-radius: 5px;
    color: #666;
    cursor: pointer;
    font-size: 13px;
    padding: 10px 13px;

    &:hover {
      background-color: #ddd;
      color: #666;
    }

    .filter-form-input:checked + & {
      background-color: #ddd;
      color: #666;
      font-weight: 700;
    }
  }
}

.planet-cards {
  display: grid;
  grid-template-columns: 33.3% 33.3% 33.3%;
  padding: 20px;

  &--no-data {
    display: block;
    font-family: 'Outage', sans-serif;
    text-align: center;
  }
}

.planet-card {
  background-color: white;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin: 0 10px 20px;
  padding: 25px 20px 20px;
  position: relative;

  &-name {
    font-family: 'Outage', sans-serif;
  }

  &-appearances {
    &-heading {
      margin-bottom: 10px;
    }

    &-list {
      padding-left: 30px;
    }

    &-list-item {
      list-style: none;
      margin-bottom: 10px;

      &--prequel,
      &--original,
      &--sequel {
        position: relative;

        &:before {
          content: '';
          border-radius: 5px;
          width: 10px;
          height: 10px;
          display: block;
          position: absolute;
          left: -20px;
          top: 4px;
        }
      }

      &--prequel:before {
        background-color: #00c8ff;
      }
      &--original:before {
        background-color: #0096bf;
      }
      &--sequel:before {
        background-color: #003240;
      }
    }
  }

  &-era-visualizer {
    display: flex;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;

    &-segment {
      flex-grow: 1;
      height: 8px;

      &--prequel {
        background-color: #00c8ff;
      }
      &--original {
        background-color: #0096bf;
      }
      &--sequel {
        background-color: #003240;
      }
    }
  }
}
